* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerContent img {
    width: 100vw;
    height: 380px;
}
